/*
*自定义样式
*样式都通过id去限定
*竟可能多使用直接子代选择器
*/
/* 
*公共样式
 */

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB,
    WenQuanYi Micro Hei, sans-serif;
}
body,
html{
    padding: 0;
    margin:0;
}
/*引用字体图标*/
@font-face {
    font-family:'kkk';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg')format('svg'),
    url('../font/MiFie-Web-Font.ttf')format('truetype'),
    url('../font/MiFie-Web-Font.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
/*这里选择以icon开头的class与包含 icon的类名*/
[class^="icon-"],[class*=" icon-"]{
    font-family: kkk;
    font-style: normal;

}
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}
.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
    font-size: 30px;
    line-height: 30px;
    color: #f32;
}


/**
*头部区域
*/
#header {
  height: 200px;
  background-color: #f0f0f0;
}

#header > .top-bar >.container {
    height: 40px;
    line-height: 40px;
}
#header > .top-bar > .container >.row >div{
    height: 40px;
}
#header > .top-bar > .container >.row >div+div{
    border-left: 1px solid #c0c0c0;
}
#header >.top-bar > .container .col-md-2 a{
    color: #000000;
}
#header >.top-bar > .container .col-md-2 a:hover{
    text-decoration: none;
}
#header .mobil-link > img{
    display: none;
    position: absolute;
    left: 50%;
    margin:-60px;
    top:87px;
}
#header .mobil-link:hover >img {
    display: block;
}
#header #nav_menu{
    float: left;
}

#header .navbar-brand{
    height: 70px;
    padding: 10px 15px;
    line-height: 70px;
    vertical-align: center;
}

#header .navbar-nav > li >a{
    line-height: 60px;
}




/*@media screen and (min-width: 992px) {
  .navbar-itcast .navbar-nav > li > a {
    font-size: 1.6rem;
  }
}*/

/*#header > .top-bar >.container > .row div{*/
/*    height: 40px;*/
/*    background-color: #ccc;*/
/*}*/

#header > .nav {
    border-bottom: 1px solid #c0c0c0;
}


/**
*测试样式区域
*/
section {
  height: 200px;
  background-color: #fff;
}
section:nth-of-type(2n + 1) {
  background-color: #f5f5f5;
}

/**
*脚注区域
*/












/*bookstrap拓展*/


/*面包线导航栏*/
.navbar-mianbao {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-mianbao .navbar-brand {
    color: #777;
}
.navbar-mianbao .navbar-brand:hover,
.navbar-mianbao .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-mianbao .navbar-text {
    color: #777;
}
.navbar-mianbao .navbar-nav > li > a {
    color: #777;
}
.navbar-mianbao .navbar-nav > li > a:hover,
.navbar-mianbao .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-mianbao .navbar-nav > .active > a,
.navbar-mianbao .navbar-nav > .active > a:hover,
.navbar-mianbao .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-mianbao .navbar-nav > .disabled > a,
.navbar-mianbao .navbar-nav > .disabled > a:hover,
.navbar-mianbao .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-mianbao .navbar-toggle {
    border-color: #ddd;
}
.navbar-mianbao .navbar-toggle:hover,
.navbar-mianbao .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-mianbao .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-mianbao .navbar-collapse,
.navbar-mianbao .navbar-form {
    border-color: #e7e7e7;
}
.navbar-mianbao .navbar-nav > .open > a,
.navbar-mianbao .navbar-nav > .open > a:hover,
.navbar-mianbao .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-mianbao .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-mianbao .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-mianbao .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-mianbao .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-mianbao .navbar-link {
    color: #777;
}
.navbar-mianbao .navbar-link:hover {
    color: #333;
}
.navbar-mianbao .btn-link {
    color: #777;
}
.navbar-mianbao .btn-link:hover,
.navbar-mianbao .btn-link:focus {
    color: #333;
}
.navbar-mianbao .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mianbao .btn-link:hover,
.navbar-mianbao .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mianbao .btn-link:focus {
    color: #ccc;
}


/*top-bar部分的拓展*/

.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register .badge {
    color: #E9232C;
    background-color: #FFFFFF;
}
